/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: top; /* Align items to the top */
  align-items: center;
  min-height: unset; /* Remove vertical centering */
  
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
